body{
    background-color: rgba(218, 200, 131, 0.25);
    width: 400px;
}
.flex{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap; /* Direccion mas si embuelve o no el contenido*/
    height: 200px;

}
.primero{ 
    /* flex-grow: 1;
    flex-basis: 120px; */
    flex: 1 120px;
} 
.tercero{
    flex-grow: 2;
}
.segundo{
    flex-grow: 1;
}